.banner {
    height: 30vh;
    width: 100%;
    position: relative;
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: inherit;
}

.open-modal-button {
    position: absolute;
    top: 20px;
    left: calc(50% - 100px);
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.open-modal-button:hover {
    background-color: #0056b3;
}